In [1]:
import pandas as pd

In [2]:
list = ['hasfat','Ayomide','eniola','Aisha','kemi','mariam','shakirah','bimbo', 'fathia','shukuroh','taofik','whykay','nimat','toyin','Bolu','ife','precious','layo','ola','wale']
Age = [10, 12, 14 , 17 , 20 ,18, 12, 23, 51, 34, 25, 28, 41,19,34,25,35,16,51,27]
Department = ['computer science','engineering','mass com','agric sci','physics','industrial chemistry','education','English','business admin','Geology','public Admin',
            'civil engineering', 'material sci', 'chemical Engineering','Micro biology','computer science', 'Biology','Mathematics','Geology', 'mass com']
Best_Food = ['Rice','Amala','semovita','pando yam','Beans','fufu','yam', 'spagetti','noddles','Rice' ,'Beans', 'Garri','yam','panded yam', 'Beans', 'Rice','Rice','spagetti'
         'beans', 'Amala','pando']

In [3]:
data_dict = {'NAMES':list,
             'AGE':Age ,
             'DEPARTMENT':Department,
            'BEST FOOD':Best_Food}
data = pd.DataFrame(data_dict)

In [4]:
print(data)

       NAMES  AGE            DEPARTMENT      BEST FOOD
0     hasfat   10      computer science           Rice
1    Ayomide   12           engineering          Amala
2     eniola   14              mass com       semovita
3      Aisha   17             agric sci      pando yam
4       kemi   20               physics          Beans
5     mariam   18  industrial chemistry           fufu
6   shakirah   12             education            yam
7      bimbo   23               English       spagetti
8     fathia   51        business admin        noddles
9   shukuroh   34               Geology           Rice
10    taofik   25          public Admin          Beans
11    whykay   28     civil engineering          Garri
12     nimat   41          material sci            yam
13     toyin   19  chemical Engineering     panded yam
14      Bolu   34         Micro biology          Beans
15       ife   25      computer science           Rice
16  precious   35               Biology           Rice
17      layo   16           Mathematics  spagettibeans
18       ola   51               Geology          Amala
19      wale   27              mass com          pando

In [5]:
 # using tuple method

In [6]:
import pandas as pd

In [7]:
data = [
     ('aisha',15,'computer science','Rice'),
     ('alabi',12,'Business admin','pando yam'),
     ('afolabi',34,'agric sci','fufu'),
     ('layo', 24, 'Biology','eba'),
     ('toyin',15 ,'mass com','Rice'),    
       
]

In [8]:
series = pd.series(data)

AttributeError: module 'pandas' has no attribute 'series'

In [9]:
import pandas as pd

In [10]:
list = ['hasfat','Ayomide','eniola','Aisha','kemi','mariam','shakirah','bimbo', 'fathia','shukuroh','taofik','whykay','nimat','toyin','Bolu','ife','precious','layo','ola','wale']
Age = [10, 12, 14 , 17 , 20 ,18, 12, 23, 51, 34, 25, 28, 41,19,34,25,35,16,51,27]
Department = ['computer science','engineering','mass com','agric sci','physics','industrial chemistry','education','English','business admin','Geology','public Admin',
            'civil engineering', 'material sci', 'chemical Engineering','Micro biology','computer science', 'Biology','Mathematics','Geology', 'mass com']
Best_Food = ['Rice','Amala','semovita','pando yam','Beans','fufu','yam', 'spagetti','noddles','Rice' ,'Beans', 'Garri','yam','panded yam', 'Beans', 'Rice','Rice','spagetti'
         'beans', 'Amala','pando']

In [11]:
series = pd.series(list)

AttributeError: module 'pandas' has no attribute 'series'

In [ ]:
series